body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  color: #112c6a;
}

//navbar
.navbar-brand {
  img {
    max-height: 50px;
  }
}

.navbar-light {
  .nav-item {
    .nav-link {
      color: #112c6a;

      &.active {
        font-weight: 700;
        color: #112c6a !important;
      }
    }
  }
}

.btn-navbar-right {
  height: 76px;

  margin-top: -11px !important;
  margin-bottom: -11px !important;
  margin-right: -16px !important;

  border-radius: 0;
}

.btn-login {
  background-color: #112c6a;
  color: #ffffff;
  transition: 0.5s;

  &:hover {
    background-color: #163888;
    color: #ffffff;
    transition: 0.5s;
  }
}

//header
header {
  padding: 180px 0 128px;
  margin-top: -76px;
  background-image: url("../images/header.jpg");
  background-size: cover;

  h1,
  p {
    color: #ffffff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 24px;
  }

  .btn-get-started {
    background-color: #ff8000;
    color: #ffffff;
    transition: 0.5s;
    &:hover {
      background-color: #ff9f40;
      color: #ffffff;
      transition: 0.5s;
    }
  }
}

//statistics
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 17px;
    background-color: #ffffff;
    padding-left: 50px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 0;
  }

  p {
    font-size: 24px;
    font-weight: 300;
  }
}

//section-popular
.section-popular {
  min-height: 520px;
  background-color: #0a193a;
  margin-top: -57px;
  margin-bottom: -250px;

  .section-popular-heading {
    margin-top: 143px;

    h2,
    p {
      color: #ffffff;
    }

    h2 {
      font-family: "Playfair Display", serif;
      font-size: 44px;
      font-weight: bold;
    }

    p {
      font-size: 20px;
    }
  }
}

//section-popularContent
.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ddd;
      color: #ffffff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 30px;
    }
    .travel-country {
      font-size: 18px;
      color: #ffffff;
    }
    .travel-location {
      font-size: 36px;
      color: #ffffff;
      font-family: "Playfair Display", serif;
    }
    .travel-button {
      .btn-travel-details {
        background-color: #ff8000;
        color: #ffffff;
        transition: 0.5s;

        &:hover {
          background-color: #ff9f40;
          color: #ffffff;
          transition: 0.5s;
        }
      }
    }
  }
}

//section-networks
.section-networks {
  background-color: #ffffff;
  margin-top: -160px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: "playfair Display", serif;
    font-size: 44px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }
}

//section-testimonial
.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #e6eeff 100%);
  padding-top: 50px;
  min-height: 460px;

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 44px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 50px 30px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 50px;

    .testimonial-content {
      min-height: 420px;

      h3 {
        font-size: 28px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
      }

      .testimonial {
        font-size: 18px;
        min-height: 240px;
      }

      .trip-to {
        font-size: 18px;
      }

      hr {
        margin-left: -10px;
        margin-right: -10px;
      }
    }
  }

  .btn-get-started {
    background-color: #ff8000;
    color: #ffffff;
    transition: 0.5s;

    &:hover {
      background-color: #ff9f40;
      color: #ffffff;
      transition: 0.5s;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    color: #0a193a;
    transition: 0.5s;

    &:hover {
      background-color: #e4e4e4;
      color: #0a193a;
      transition: 0.5s;
    }
  }
}

//footer
.section-footer {
  a {
    color: #0a193a;
  }

  .form-subscribe {
    background-color: #e6eeff;
    border-radius: 8px;

    .form-text-subscribe {
      margin-bottom: 5px;
      font-size: 18px;
    }

    .btn-subscribe {
      background-color: #ff8000;
      color: #ffffff;
      transition: 0.5s;

      &:hover {
        background-color: #ff9f40;
        color: #ffffff;
        transition: 0.5s;
      }
    }
  }
}

//detailspage
//header
.section-details-header {
  min-height: 315px;
  background-color: #bec8de;
  margin-top: -76px;
}

.section-details-content {
  margin-top: -200px;
  min-height: 100vh;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    padding-bottom: 30px;
  }

  .breadcrumb-item {
    &.active {
      font-weight: bold;
      color: #0a193a;
    }
  }

  .card-details {
    padding: 30px;
    border-radius: 8px;

    h1 {
      font-size: 36px;
      font-family: "Playfair Display", serif;
      font-weight: bold;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }
  }

  .member {
    .member-image {
      width: 40px;
      height: 40px;
    }
  }

  .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .gallery {
    .xzoom-container {
      display: block;

      .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 10px;
      }

      .xactive {
        border: 4px solid #2a63e9;
        box-shadow: none;
      }
    }
  }

  .join-container {
    margin-top: -16px;

    .btn-join-now {
      background-color: #ff8000;
      color: #ffffff;
      transition: 0.5s;

      &:hover {
        background-color: #ff9f40;
        color: #ffffff;
        transition: 0.5s;
      }
    }
  }

  .trip-informations {
    th {
      font-size: 16px;
      font-weight: 500;
    }

    td {
      font-weight: 300;
      color: #6e6e6e;
    }

    .text-blue {
      color: #112c6a;
      font-weight: bold;
    }

    .text-orange {
      color: #ff8000;
      font-weight: bold;
    }
  }

  .payment-instruction {
    font-weight: 300;
    font-size: 14px !important;
    color: #6e6e6e;
  }

  .bank {
    .bank-item {
      h3 {
        font-size: 16px;
        color: #112c6a;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }

      .description {
        overflow: hidden;
        float: left;
        margin-left: 15px;

        p {
          font-weight: 500;
          font-size: 16px;
          text-align: left;
          color: #3a3a3a;
        }
      }
    }

    .bank-image {
      width: 45px;
      height: 45px;
      float: left;
    }
  }

  .disclaimer {
    background-color: #bec8de;
    color: #112c6a;

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .gj-datepicker {
    .datepicker {
      border-right: 0;
      margin-right: -12px;
    }

    .input-group-append {
      .btn {
        padding-right: 30px;
        padding-top: 3px;
      }
    }
  }

  .btn-add-now {
    background-color: #112c6a;
    color: #ffffff;
    transition: 0.5s;

    &:hover {
      background-color: #163888;
      color: #ffffff;
      transition: 0.5s;
    }
  }
}

.section-success {
  height: 90vh;

  h1 {
    font-weight: 600;
    font-size: 36px;
    color: #112c6a;
    margin-top: 20px;
  }

  p {
    font-size: 18px;
    color: #bec8de;
  }

  .btn-home-page {
    border-radius: 4px;
    background-color: #112c6a;
    color: #ffffff;
    transition: 0.5s;
    width: 50%;
    text-decoration: none;

    &:hover {
      background-color: #163888;
      color: #ffffff;
      transition: 0.5s;
    }
  }
}
