body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  color: #112c6a;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-light .nav-item .nav-link {
  color: #112c6a;
}

.navbar-light .nav-item .nav-link.active {
  font-weight: 700;
  color: #112c6a !important;
}

.btn-navbar-right {
  height: 76px;
  margin-top: -11px !important;
  margin-bottom: -11px !important;
  margin-right: -16px !important;
  border-radius: 0;
}

.btn-login {
  background-color: #112c6a;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-login:hover {
  background-color: #163888;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  padding: 180px 0 128px;
  margin-top: -76px;
  background-image: url("../images/header.jpg");
  background-size: cover;
}

header h1,
header p {
  color: #ffffff;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 24px;
}

header .btn-get-started {
  background-color: #ff8000;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .btn-get-started:hover {
  background-color: #ff9f40;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 17px;
  background-color: #ffffff;
  padding-left: 50px;
}

.section-stats h2 {
  font-size: 32px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 24px;
  font-weight: 300;
}

.section-popular {
  min-height: 520px;
  background-color: #0a193a;
  margin-top: -57px;
  margin-bottom: -250px;
}

.section-popular .section-popular-heading {
  margin-top: 143px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: bold;
}

.section-popular .section-popular-heading p {
  font-size: 20px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 30px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 36px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #ff8000;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #ff9f40;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-networks {
  background-color: #ffffff;
  margin-top: -160px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: "playfair Display", serif;
  font-size: 44px;
  font-weight: bold;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6eeff));
  background: linear-gradient(#fff 0%, #e6eeff 100%);
  padding-top: 50px;
  min-height: 460px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: bold;
}

.section-testimonial-heading p {
  font-size: 20px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 50px 30px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 420px;
}

.section-testimonial-content .card-testimonial .testimonial-content h3 {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-testimonial-content .card-testimonial .testimonial-content .testimonial {
  font-size: 18px;
  min-height: 240px;
}

.section-testimonial-content .card-testimonial .testimonial-content .trip-to {
  font-size: 18px;
}

.section-testimonial-content .card-testimonial .testimonial-content hr {
  margin-left: -10px;
  margin-right: -10px;
}

.section-testimonial-content .btn-get-started {
  background-color: #ff8000;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #ff9f40;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #0a193a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #e4e4e4;
  color: #0a193a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-footer a {
  color: #0a193a;
}

.section-footer .form-subscribe {
  background-color: #e6eeff;
  border-radius: 8px;
}

.section-footer .form-subscribe .form-text-subscribe {
  margin-bottom: 5px;
  font-size: 18px;
}

.section-footer .form-subscribe .btn-subscribe {
  background-color: #ff8000;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-footer .form-subscribe .btn-subscribe:hover {
  background-color: #ff9f40;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-details-header {
  min-height: 315px;
  background-color: #bec8de;
  margin-top: -76px;
}

.section-details-content {
  margin-top: -200px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  padding-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #0a193a;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 8px;
}

.section-details-content .card-details h1 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-details-content .card-details h2 {
  font-size: 24px;
}

.section-details-content .card-details p {
  font-size: 18px;
}

.section-details-content .member .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 4px solid #2a63e9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .join-container .btn-join-now {
  background-color: #ff8000;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-details-content .join-container .btn-join-now:hover {
  background-color: #ff9f40;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-details-content .trip-informations th {
  font-size: 16px;
  font-weight: 500;
}

.section-details-content .trip-informations td {
  font-weight: 300;
  color: #6e6e6e;
}

.section-details-content .trip-informations .text-blue {
  color: #112c6a;
  font-weight: bold;
}

.section-details-content .trip-informations .text-orange {
  color: #ff8000;
  font-weight: bold;
}

.section-details-content .payment-instruction {
  font-weight: 300;
  font-size: 14px !important;
  color: #6e6e6e;
}

.section-details-content .bank .bank-item h3 {
  font-size: 16px;
  color: #112c6a;
  margin-bottom: 0;
}

.section-details-content .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .bank .bank-item .description {
  overflow: hidden;
  float: left;
  margin-left: 15px;
}

.section-details-content .bank .bank-item .description p {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #3a3a3a;
}

.section-details-content .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .disclaimer {
  background-color: #bec8de;
  color: #112c6a;
}

.section-details-content .disclaimer h3 {
  font-size: 18px;
}

.section-details-content .disclaimer p {
  font-size: 14px;
}

.section-details-content .gj-datepicker .datepicker {
  border-right: 0;
  margin-right: -12px;
}

.section-details-content .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
  padding-top: 3px;
}

.section-details-content .btn-add-now {
  background-color: #112c6a;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-details-content .btn-add-now:hover {
  background-color: #163888;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 36px;
  color: #112c6a;
  margin-top: 20px;
}

.section-success p {
  font-size: 18px;
  color: #bec8de;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #112c6a;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 50%;
  text-decoration: none;
}

.section-success .btn-home-page:hover {
  background-color: #163888;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=main.css.map */